block variables  
doctype html
html(amp="" lang="en")
  head
    - let layoutTitle = title ? `${title} | GitBit` : 'GitBit | Office 365 Tips to Improve Productivity'
    - let layoutDescription = description ? description : 'Over 70% of Fortune 500 companies have migrated to Microsoft Office 365. Learn the latest tips to maximize your ROI.'
    - let layoutKeywords = keywords ? `Office 365, Microsoft, ${keywords}` : 'Office 365, Microsoft'
    - let layoutCanonical = `http://gitbit.org/${canonical}`
    - let layoutPageType = pageType ? pageType : 'website'
    - let layoutImage1x1 = image1x1 ? image1x1 : 'http://gitbit.org/assets/branding/GitBit-Logo-1200x1200.png'
    - let layoutImage1x1Height = image1x1Height ? image1x1Height : '1200'
    - let layoutImage1x1Width = image1x1Width ? image1x1Width : '1200'
    - let layoutImage16x9 = image16x9 ? image16x9 : 'http://gitbit.org/assets/branding/GitBit-Logo-1200x675.png'
    - let layoutImage16x9Height = image16x9Height ? image16x9Height : '675'
    - let layoutImage16x9Width = image16x9Width ? image16x9Width : '1200'
    - let layoutImage4x3 = image4x3 ? image4x3 : 'http://gitbit.org/assets/branding/GitBit-Logo-1200x900.png'
    - let layoutImage4x3Height = image4x3Height ? image4x3Height : '900'
    - let layoutImage4x3Width = image4x3Width ? image4x3Width : '1200'
    
    meta(charset="utf-8")
    script(async src="https://cdn.ampproject.org/v0.js")
    title= layoutTitle
    link(rel="canonical" href=layoutCanonical)
    meta(name='description', content=layoutDescription)
    meta(name='keywords', content=layoutKeywords)
        
    meta(name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1")
    link(rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png")
    link(rel="manifest" href="/assets/favicons/site.webmanifest")
    link(rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg" color="#5bbad5")
    link(rel="shortcut icon" href="/assets/favicons/favicon.ico")
    meta(name="msapplication-TileColor" content="#00aba9")
    meta(name="msapplication-config" content="/assets/favicons/browserconfig.xml")
    meta(name="theme-color" content="#ffffff")
    meta(name="robots" content="index, follow")

    meta(property="author" content="John Gruber")
    link(rel="publisher" href="https://plus.google.com/u/0/+JohnGruber-gitbit")
    link(rel="author" href="http://gitbit.org/gruberjl")
    meta(name='author', content='John Gruber <John.Gruber@gitbit.org>')
    meta(property="article:publisher" content="https://www.facebook.com/gitbit0")
    meta(property="article:author" content="http://gitbit.org/gruberjl")

    script(async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js")
    link(rel="alternate" type="application/rss+xml" title="Office 365 Tips to Improve Productivity - GitBit" href="rss.xml")
    style(amp-boilerplate='').
      body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}
    noscript
      style(amp-boilerplate='').
        body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}
    block jsonld
      script(type='application/ld+json').
        {
          "@context": "http://schema.org",
          "@type": "NewsMediaOrganization",
          "name": "GitBit",
          "url": "http://gitbit.org",
          "logo": "http://gitbit.org/assets/branding/GitBit-Logo-Mercury.png",
          "sameAs": [
            "https://twitter.com/gruberjl",
            "https://plus.google.com/+JohnGruber-gitbit",
            "https://www.linkedin.com/in/gruberjl/",
            "https://www.pinterest.com/gitbit00/",
            "https://www.tumblr.com/blog/gruberjl"
          ]
        }
    block twitter
      meta(name='twitter:card', content='summary')
      meta(name='twitter:site', content='@gitbit')
      meta(name='twitter:creator', content='@gruberjl')
      meta(name='twitter:title', content=layoutTitle)
      meta(name='twitter:description', content=layoutDescription)
      meta(name='twitter:image', content=layoutImage1x1)

    block og
      meta(property="og:site_name" content="GitBit")
      meta(property='og:url', content=layoutCanonical)
      meta(property='og:locale', content='en_US')
      meta(property='og:type', content=layoutPageType)
      meta(property='og:title', content=layoutTitle)
      meta(property='og:description', content=layoutDescription)
      meta(property='og:image', content=layoutImage16x9)
      meta(property='og:image:width', content=layoutImage16x9Width)
      meta(property='og:image:height', content=layoutImage16x9Height)
      meta(property='og:image', content=layoutImage4x3)
      meta(property='og:image:width', content=layoutImage4x3Width)
      meta(property='og:image:height', content=layoutImage4x3Height)
      meta(property='og:image', content=layoutImage1x1)
      meta(property='og:image:width', content=layoutImage1x1Width)
      meta(property='og:image:height', content=layoutImage1x1Height)
    meta(property='fb:app_id', content='125424108093912')
    <!-- link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet") -->
    style(amp-custom)
      include style.css
    block head
  body
    block content
    amp-analytics(type="googleanalytics")
      script(type="application/json").
        {
          "vars": {
            "account": "UA-10841251-3"
          },
          "triggers": {
            "trackPageview": {
              "on": "visible",
              "request": "pageview"
            }
          }
        }
