extends ./layout.pug
append variables
  - const pageType = 'article'
  block variables
block head
  block head
block jsonld
  script(type='application/ld+json').
    {
      "@context": "http://schema.org",
      "@type": "Article",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "#{`http://gitbit.org${canonical}`}"
      },
      "headline": "#{title}",
      "name": "#{title}",
      "image": [
        "#{image1200x900}",
        "#{image1200x675}",
        "#{image1200x1200}"
      ],
      "datePublished": "#{datePublished}",
      "dateModified": "#{dateModified}",
      "author": {
        "@type": "Person",
        "name": "John Gruber",
        "email": "john.gruber@gitbit.org",
        "sameAs": [
          "http://gitbit.org/gruberjl",
          "https://twitter.com/gruberjl",
          "https://plus.google.com/+JohnGruber-gitbit",
          "https://www.linkedin.com/in/gruberjl/",
          "https://www.pinterest.com/gitbit00/",
          "https://www.tumblr.com/blog/gruberjl",
          "https://www.facebook.com/john.gruber00"
        ]
      },
      "publisher": {
        "@type": "Organization",
        "name": "GitBit",
        "logo": {
          "@type": "ImageObject",
          "url": "http://gitbit.org/assets/branding/gitbit-logo-200x60.jpg"
        },
        "sameAs": [
          "https://www.facebook.com/gitbit0",
          "https://twitter.com/gitbitorg"
        ]
      },
      "description": "#{description}",
      "about": "Office 365",
      "wordCount": "#{wordCount}",
      "keywords": "#{keywords}"
    }
block content
  include ./includes/header.pug
  main
    article
      block article
    aside.align-center.double-column-margins
      .side-margins
        a(href="http://gitbit.org/John-Gruber")
          img.circle(src="http://gitbit.org/assets/gruberjl/john-gruber-200x200.jpg" alt="Image of John Gruber")
      .side-margins
        div
          span.subtitle WRITTEN BY
        div
          a(href="http://gitbit.org/John-Gruber")
            h3.no-margin John L. Gruber
        .author-description John Gruber is a Collaboration Engineer and is responsible for helping customers manage and maintain Microsoft Office 365. John brings 10 years of information technology (IT) experience, helping small and large organizations across North America.
  include ./includes/footer.pug
