extends ./layout.pug
append variables
  - const pageType = 'article'
  block variables
block head
  block head
block jsonld
  script(type='application/ld+json').
    {
      "@context": "http://schema.org",
      "@type": "Article",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": #{`http://gitbit.org${canonical}`}
      },
      "headline": #{title},
      "name": #{title}
      "image": [
        #{image16x9},
        #{image4x3},
        #{image1x1}
      ],
      "datePublished": #{datePublished},
      "dateModified": #{dateModified},
      "author": {
        "@type": "Person",
        "name": "John Gruber",
        "email": "john.gruber@gitbit.org",
        "sameAs": [
          "http://gitbit.org/gruberjl"
          "https://twitter.com/gruberjl",
          "https://plus.google.com/+JohnGruber-gitbit",
          "https://www.linkedin.com/in/gruberjl/",
          "https://www.pinterest.com/gitbit00/",
          "https://www.tumblr.com/blog/gruberjl",
          "https://www.facebook.com/john.gruber00"
        ]
      },
      "publisher": {
        "@type": "Organization",
        "name": "GitBit",
        "logo": {
          "@type": "ImageObject",
          "url": "http://gitbit.org/assets/branding/gitbit-logo-200x60.jpg"
        },
        "sameAs": [
          "https://www.facebook.com/gitbit0",
          "https://twitter.com/gitbitorg"
        ]
      },
      "description": #{description},
      "about": "Office 365",
      "wordCount": 1500,
      "keywords": #{keywords}
    }
block content
  include ./includes/header.pug
  main
    article
      block article
  include ./includes/footer.pug
