extends ../layout.pug

block jsonld
  script(type='application/ld+json')
    | { "@context":"http://schema.org", "@type":"ItemList", "itemListElement":[
    each article, index in articles
      | { "@type":"ListItem", "position":#{index + 1}, "url":"#{article.url}", "name":"#{article.title}", "image": "#{article.image}" }
      if articles.length > index+1
        | ,
    | ] }

block content
  include ../includes/header.pug
  .container
    each article in articles
      a.card(href=article.url)
        amp-img.card-image(src=article.image, height=200 width=300 layout="responsive")
        h3.card-title=article.title
        p.card-description=article.description
  include ../includes/footer.pug
