extends ../layout.pug

block jsonld
  script(type='application/ld+json')
    | { "@context":"http://schema.org", "@type":"ItemList", "itemListElement":[
    each article, index in articles
      | { "@type":"ListItem", "position":#{index + 1}, "url":"http://gitbit.org#{article.canonical}", "name":"#{article.title}", "image": "#{article.image1200x900}" }
      if articles.length > index+1
        | ,
    | ] }

block content
  include ../includes/header.pug
  .container
    each article in articles
      a.card(href=article.url)
        amp-img.card-image(src=article.image400x300, height=300 width=400 layout="responsive")
        h3.card-title=article.title
        p.card-description=article.description
  include ../includes/footer.pug
