block variables

doctype html
html(amp="" lang="en")
  head
    meta(charset="utf-8")
    meta(name='msvalidate.01', content='F38FFB109FAF9C7076E59AA8AADDA0A2')
    meta(name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1")
    link(rel='alternate', type='application/rss+xml', title='RSS Feed for gitbit.org', href='http://gitbit.org/rss.xml')
    link(rel='alternate', type='application/atom+xml', title='Atom Feed for gitbit.org', href='http://gitbit.org/atom.xml')
    link(rel='alternate', title='JSON Feed for GitBit.org', type='application/json', href='https://gitbit.org/feed.json')
      
    meta(name='msvalidate.01', content='F38FFB109FAF9C7076E59AA8AADDA0A2')
    meta(name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1")
    link(rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png")
    link(rel="manifest" href="/assets/favicons/site.webmanifest")
    link(rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg" color="#5bbad5")
    link(rel="shortcut icon" href="/assets/favicons/favicon.ico")
    meta(name="msapplication-TileColor" content="#00aba9")
    meta(name="msapplication-config" content="/assets/favicons/browserconfig.xml")
    meta(name="theme-color" content="#ffffff")
    meta(name="robots" content="index, follow")
      
    link(rel="canonical" ref='http://gitbit.org' + canonical)
      
    script(type='application/ld+json').
      {
        "@context": "http://schema.org",
        "@type": "#{SchemaType}",
        "mainEntityOfPage": "http://gitbit.org#{canonical}",
        "url": "http://gitbit.org#{canonical}",
        "headline": "#{title}",
        "name": "#{title}",
        "image": [
          { "@type":"ImageObject", "width":900, "height":1200, "url":"http://gitbit.org#{image1200x900}" },
          { "@type":"ImageObject", "width":1200, "height":675, "url":"http://gitbit.org#{image1200x675}" },
          { "@type":"ImageObject", "width":1200, "height":1200, "url":"http://gitbit.org#{image1200x1200}" }
        ],
        "thumbnailUrl": "http://gitbit.org#{image1200x900}",
        "datePublished": "#{datePublished}",
        "dateModified": "#{dateModified}",
        "author": {
          "@type": "Person",
          "name": "John Gruber",
          "url": "http://gitbit.org/people/john-gruber",
          "email": "john.gruber@gitbit.org",
          "sameAs": [
            "http://gitbit.org/gruberjl",
            "https://twitter.com/gruberjl",
            "https://plus.google.com/+JohnGruber-gitbit",
            "https://www.linkedin.com/in/gruberjl/",
            "https://www.pinterest.com/gitbit00/",
            "https://www.tumblr.com/blog/gruberjl",
            "https://www.facebook.com/john.gruber00"
          ]
        },
        "creator":[ "John Gruber" ],
        "publisher": {
          "@type": "Organization",
          "name": "GitBit",
          "url": "http://gitbit.org",
          "logo": {
            "@type": "ImageObject",
            "width":200,
            "height":60,
            "url": "http://gitbit.org/assets/gitbit/gitbit-200x60.jpg"
          },
          "sameAs": [
            "https://www.facebook.com/gitbit0",
            "https://twitter.com/gitbitorg"
          ]
        },
        "description": "#{description}",
        "about": "Office 365"
      }
      
    style()
      include styles.css
  body
    block content
