block variables

doctype html
html(amp="" lang="en")
  head
    title= title
    meta(name="description" content=description)
      
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width,minimum-scale=1,initial-scale=1")
    meta(name="referrer", content="unsafe-url")
    meta(name="robots" content="index, follow")
    link(rel="canonical" href="http://gitbit.org" + canonical)
    
    link(rel='alternate', type='application/rss+xml', title='RSS Feed for gitbit.org', href='http://gitbit.org/rss.xml')
    link(rel='alternate', type='application/atom+xml', title='Atom Feed for gitbit.org', href='http://gitbit.org/atom.xml')
    link(rel='alternate', title='JSON Feed for GitBit.org', type='application/json', href='https://gitbit.org/feed.json')
    
    link(rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png")
    link(rel="manifest" href="/assets/favicons/site.webmanifest")
    link(rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg" color="#5bbad5")
    link(rel="shortcut icon" href="/assets/favicons/favicon.ico")
    meta(name="msapplication-TileColor" content="#00aba9")
    meta(name="msapplication-config" content="/assets/favicons/browserconfig.xml")
    meta(name="theme-color" content="#ffffff")
    
    meta(name='msvalidate.01', content='F38FFB109FAF9C7076E59AA8AADDA0A2')
    meta(property='fb:app_id', content='1798464146887606')
    link(rel="amphtml", href="http://gitbit.org/amp" + canonical)

    link(rel="publisher" href="https://plus.google.com/u/0/+JohnGruber-gitbit")
    
    meta(name='twitter:card', content='summary_large_image')
    meta(name='twitter:site', content='@gitbitorg')
    meta(name='twitter:creator', content='@gruberjl')
    meta(name='twitter:title', content=title)
    meta(name='twitter:description', content=description)
    meta(name='twitter:image', content="http://gitbit.org" + image1200x675)
    meta(name='twitter:image:src', content="http://gitbit.org" + image1200x675)
    
    meta(property="og:site_name" content="GitBit")
    meta(property='og:url', content="http://gitbit.org" + canonical)
    meta(property='og:locale', content='en_US')
    meta(property='og:title', content=title)
    meta(property='og:description', content=description)
    meta(property='og:image', content="http://gitbit.org" + image1200x675)
    meta(property='og:image:width', content='1200')
    meta(property='og:image:height', content='675')
    meta(property='og:image', content="http://gitbit.org" + image1200x900)
    meta(property='og:image:width', content='1200')
    meta(property='og:image:height', content='900')
    meta(property='og:image', content="http://gitbit.org" + image1200x1200)
    meta(property='og:image:width', content='1200')
    meta(property='og:image:height', content='1200')
    
    if SchemaType == 'Article'
      meta(property='og:type', content='article')
      meta(property='article:published_time', content=datePublished)
      meta(property='article:modified_time', content=dateModified)
      meta(property='article:author', content='http://gitbit.org/people/john-gruber')
      meta(property='article:section', content='Technology')
    else
      meta(property='og:type', content='website')
      
    script(type='application/ld+json').
      {
        "@context": "http://schema.org",
        "@type": "#{SchemaType}",
        "mainEntityOfPage": "http://gitbit.org#{canonical}",
        "url": "http://gitbit.org#{canonical}",
        "headline": "#{title}",
        "name": "#{title}",
        "image": [
          { "@type":"ImageObject", "width":900, "height":1200, "url":"http://gitbit.org#{image1200x900}" },
          { "@type":"ImageObject", "width":1200, "height":675, "url":"http://gitbit.org#{image1200x675}" },
          { "@type":"ImageObject", "width":1200, "height":1200, "url":"http://gitbit.org#{image1200x1200}" }
        ],
        "thumbnailUrl": "http://gitbit.org#{image1200x900}",
        "datePublished": "#{datePublished}",
        "dateModified": "#{dateModified}",
        "author": {
          "@type": "Person",
          "name": "John Gruber",
          "url": "http://gitbit.org/people/john-gruber",
          "email": "john.gruber@gitbit.org",
          "sameAs": [
            "http://gitbit.org/gruberjl",
            "https://twitter.com/gruberjl",
            "https://plus.google.com/+JohnGruber-gitbit",
            "https://www.linkedin.com/in/gruberjl/",
            "https://www.pinterest.com/gitbit00/",
            "https://www.tumblr.com/blog/gruberjl",
            "https://www.facebook.com/john.gruber00"
          ]
        },
        "creator":[ "John Gruber" ],
        "publisher": {
          "@type": "Organization",
          "name": "GitBit",
          "url": "http://gitbit.org",
          "logo": {
            "@type": "ImageObject",
            "width":200,
            "height":60,
            "url": "http://gitbit.org/assets/gitbit/gitbit-200x60.jpg"
          },
          "sameAs": [
            "https://www.facebook.com/gitbit0",
            "https://twitter.com/gitbitorg"
          ]
        },
        "description": "#{description}",
        "about": "Office 365"
      }
      
    style(amp-custom="")
      include styles.css
  body
    div.side-margins
      p 
        span Due to the success of the GitBit publication on Medium I'll be shutting down GitBit.org and performing all my publishing at 
        a(href="https://medium.com/gitbit") https://medium.com/gitbit
        span=" If you're not automatically redirected please go to "
        a(href="https://medium.com/gitbit") https://medium.com/gitbit
    script.
      window.setTimeout(function(){ window.location = "https://medium.com/gitbit"; },3000)
    block content
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-10841251-3')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-10841251-3');
